* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.text-center {
	text-align: center;
}

.clearfix {
	clear: both;
}

nav {
	width: 100%;
	min-height: 20px;
	background-color: #1e90ff;
	position: fixed;
	top: 0;
}

nav ul {
	float: right;
	list-style: none;
}

nav ul li {
	display: inline-block;
}

nav ul a {
	text-decoration: none;
	display: block;
	padding: 20px 30px;
	color: #FFF;
	font-size: 22px;
	transition: all .3s ease-in;
}

nav ul a:hover {
	background-color: #FFF;
	color: #1e90ff;
}

header {
	margin-top: 20px;
}

header, section {
	min-height: 30vh;
	padding: 60px;
}

header h1 {
	margin-bottom: 20px;
}

header > div {
	display: flex;
}

header > div > div:nth-child(1) img {
	width: 100%;
}
header > div > div:nth-child(2) {
	padding: 20px;
	font-size: 20px;
}

.linkdin {
	margin-top: 60px;
	width: 50px;
	
}

section > h1 {
	margin-bottom: 40px;
	font-size: 35px;
}

section > ul li {
	margin: 20px 0;
	font-size: 20px;
}

section:nth-child(2n + 1) {
	background-color: #1e90ff;
	color: #FFF;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 15px 0;
}